body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}
.selections {
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 200;
    visibility: visible;
    opacity: 100%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(50,50,50,.3); 
    border-radius: 5px;
    transition: .3s opacity ease .2s;
    color: white;
}
