body{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    margin:0;
    padding:0;
    font-family: 'press start 2p';
    font-size: small;
}

label{
    text-align: center;
}

#pauseDisplay{
    opacity: 100%;
    transition: opacity .2s ease-in-out
}

#selectionsDiv {
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 300;
    visibility: visible;
    opacity: 0%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(50,50,50,.3); 
    border-radius: 5px;
    transition: .3s opacity ease .2s;
    color: white;
}

#counterSection{
    display: flex;
    position:relative;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#counter{ 
    position: relative;   
    /* left: 5px; */
}

#selectionsDiv > div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: space-around;
    height: 20px;
}

#setHighscore{
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 200;
    visibility: visible;
    opacity: 0%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(50,50,50,1); 
    border-radius: 5px;
    transition: .3s opacity ease .2s;
    color: white;
    overflow-y: auto;
}

#setHSoutput{
    display: flex;
    flex-flow: column nowrap;
}
.previousHS{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    white-space: nowrap;
}
#setHSoutput > div{
    display: flex;
    flex-flow: row nowrap;
}
.letters{
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* transition: .2s opacity ease-in-out */
}

#label{
    margin-bottom: 5px;
    text-decoration: underline;
}

#output{
    z-index: 900;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 40dvh;
    width: 20dvh;
    font-size: 8px;
}

.nameSelection{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    white-space: pre;
}

.score{
    border: solid black 2px;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#highscoresDiv{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;    
    position: fixed;
    left: 10px;
}