/* @font-face {
    font-family:"press start 2p";
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
} */
body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    margin:0;
    padding:0;
    font-family: 'press start 2p';
    font-size: small;
}

label{
    text-align: center;
}

#pauseDisplay{
    opacity: 100%;
    transition: opacity .2s ease-in-out
}

#selectionsDiv {
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 300;
    visibility: visible;
    opacity: 0%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(50,50,50,.3); 
    border-radius: 5px;
    transition: .3s opacity ease .2s;
    color: white;
}

#canvasDiv{
    position: relative;
   
}

#counterSection{
    display: flex;
    position:relative;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#counter{ 
    position: relative;   
    left: 5px;
}

#selectionsDiv > div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: space-around;
    height: 20px;
}

#highScore{
    display: flex;
    flex-flow: row nowrap;
}
.letters{
    margin: 0px;
    padding: 0px;
    text-align: center;
}